body {
    display: grid;
    width: 100%;
    height: auto;
    
}

header {
    display: flex;
    align-items: center;
    margin: 0;
    height: 80px;
    justify-content: space-around;
    background-color: aquamarine;
}

ul {
    margin: 5px;
    display: flex;
    justify-content: space-between;
    list-style: none;
}

#btn-header {
    height: 28px;
}
#car {
    border: none;
    background-color: transparent;
}

#fechar {
    border: none;
    background-color: transparent;
}

main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 50%;
}
